@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4; /* Light gray background similar to Spyne */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a20cb; /* Spyne-like purple color */
}

.spinner-border {
  border-color: rgba(0, 0, 0, 0.1);
  border-left-color: #4c51bf; /* Purple */
}
